<div class="flex justify-between p-4">
  <div class="flex gap-4">
    <div class="flex flex-col items-center glass-card p-2 ">
      <i class="fa-regular fa-lightbulb text-[28px]"></i>
      <span>Focus</span>
    </div>
    <div class="flex flex-col items-center glass-card p-2 ">
      <i class="fa-solid fa-person-walking text-[28px]"></i>
      <span>Move</span>
    </div>
    <details class="dropdown">
      <summary class="flex flex-col items-center glass-card p-2 ">
        <i class="fa-solid fa-person-walking text-[28px]"></i>
        <span>Move</span>
      </summary>
      <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
      </ul>
    </details>
  </div>
  <div class="">
    Top row right
  </div>
</div>

